.reseñaContainer {
  width: 990px;
  display: flex;
  flex-direction: row;
  margin-left: 250px;
}
.resenaMitad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.reseñaIndividual {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 550px;
}

.cara {
  width: 45px;
  height: 45px;
  margin: 20px;
}

.textoTotal {
  font-family: Roboto;
  padding: 40px 100px;
}

.texto {
  color: #133e71;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.texto1 {
  color: var(--color-botones);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


@media only screen and (max-width: 768px) {
  .reseñaContainer {
    flex-direction: column;
    align-items: center;
  }

  .resenaMitad {
    margin-top: 20px;
  }

  .reseñaIndividual {
    width: 80%;
  }
}