.seguros-cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px 110px;
}

@media screen and (max-width: 768px) {
    .seguros-cards {
        padding: 0px;
        margin-top: 60px;
    }
}